.field {
  padding: 6px 20px;
  border: 1px solid #66FF66;
  box-shadow: 0 0 1px #33FF66;
  letter-spacing: 2px;
  color: #003366;
  border-radius: 6px;
  outline: none;
  line-height: 28px;
  font-size: 18px;
  width: 100%;
}